.footer {
  background-color: var(--accent-bg);
  display: flex;
  justify-content: center;
  margin-top: var(--layout-margin);
}

.nav {
  background-color: var(--accent-bg);
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: var(--layout-margin);
  padding: var(--layout-padding);
  align-items: center;
}

.nav > button {
  background: #ffffff;
  border: none;
  border-radius: 2ch;
  cursor: pointer;
  padding: var(--layout-btn-padding);
}
